@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-9">
        <div class="headline">
            <h2>
                <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;We’re happy to HELP!
            </h2>
        </div>
        <p>Let us know if you have General Questions, Concerns, OR Feedback below. At ShipWaze, we are constantly improving our service to better serve you.</p>
        <br />

        <form>
            <div class="form-group">
                <label>Name</label>
                <div class="row">
                    <div class="col-md-7 col-md-offset-0">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <div class="row">
                    <div class="col-md-7 col-md-offset-0">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Message</label>
                <div class="row">
                    <div class="col-md-11 col-md-offset-0">
                        <textarea rows="8" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <p><button type="submit" class="btn btn-success">Send Message</button></p>
        </form>
    </div>
    <div class="col-md-3">
        <!-- Contacts -->
        <div class="headline"><h2>Contacts</h2></div>
        <ul class="list-unstyled who">
            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;5B Streat, City 50987 New Town US</a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;info@example.com</a></li>
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1(222) 5x86 x97x</a></li>
            <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i>http://www.example.com</a></li>
        </ul>
        <br />
        <!-- Business Hours -->
        <div class="headline"><h2>Business Hours</h2></div>
        <ul class="list-unstyled">
            <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
            <li><strong>Saturday:</strong> 11am to 3pm</li>
            <li><strong>Sunday:</strong> Closed</li>
        </ul>
        <br />
        <!-- Why we are? -->
        <div class="headline"><h2>Why we are?</h2></div>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
        <ul class="list-unstyled">
            <li><i class="icon-ok color-green"></i> Odio dignissimos ducimus</li>
            <li><i class="icon-ok color-green"></i> Blanditiis praesentium volup</li>
            <li><i class="icon-ok color-green"></i> Eos et accusamus</li>
        </ul>
    </div>
</div>