<div class="form">
    <div class="form-group">
        <label>Address Line 1</label>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label>Address Line 2</label>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label>State / Province</label>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label>Zip</label>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label>Country</label>
        <select class="form-control">
            <option>US</option>
            <option>CA</option>
        </select>
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input class="form-control">
    </div>
</div>